button {
    font-size: 3.5rem;
    font-weight: bold;
    padding: 2rem;
    color: white;
    background-color: $clr-primary-cyan;
}

.nav-authentification button {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem;
    color: white;
    background-color: $clr-primary-cyan;
}