$fw-normal: 500;
$fw-bold: 700;

$padding-inline-mobile: 3rem;
$padding-inline-desktop: 13rem;

$clr-primary-cyan: #2acfcf;
$clr-primary-cyan-light: rgba(42, 207, 207, 0.504);
$clr-primary-dark-violet: hsl(258, 27%, 26%);
$clr-secondary-red: hsl(0, 87%, 67%);
$clr-secondary-red-light: hsla(0, 87%, 67%, 0.674);
$clr-neutral-gray: hsl(0, 0%, 75%);
$clr-neutral-grayish-violet: hsl(257, 7%, 63%); 
$clr-neutral-grayish-violet-light: hsla(258, 7%, 63%, 0.132);
$clr-neutral-very-dark-blue: hsl(255, 11%, 22%);
$clr-neutral-very-dark-violet: hsl(260, 8%, 14%);
$clr-main-background: #F0F1F6;
